{% extends "forms_base.html" %}
{% block title %}Update Task{% endblock %}
{% block pageleft %}
	<h1>Update your <a href="javascript:void(0)" style="cursor: default;" class="logo">Task</a></h1>
	<ul style="text-align: left;">
		<li>Maximum 200 characters.</li>
		<li>Ensure that your task can be completed.</li>
		<li>Deadline date must be ahead of or equal to today's date.</li>
		<li>Deadline must not be in the past.</li>
		<li>Please ensure our <a id="fp" href="{% url 'guidelines' %}">Community Guidelines</a> are not violated.</li>
	</ul>
{% endblock %}
{% block pageright %}
	<form class="form-basic" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="link-btn-filled-div" type="submit">Update</button>
	</form>
	<a class="link-btn-filled-div" href="{% url 'progress_tracker:dashboard' %}">Cancel</a>
{% endblock %}