{% extends "base.html" %}
{% block title %}Community Guidelines{% endblock %}
{% block content %}
  <h1 class="stylish-heading-purple">Progressibility</h1>
  <h1 style="font-weight: bold;">Community Guidelines</h1>
  <h2 style="text-align:left;">1) User Avatar</h2>
  <ul style="text-align:left;">
	<li>Your avatar represents you within our community. Choose an image that reflects your personality or interests.</li>
	<li>Avoid using avatars that contain explicit or offensive content, including but not limited to nudity, violence, or discriminatory symbols.</li>
	<li>Respect copyright laws when selecting or creating an avatar. Ensure that you have the necessary rights or permissions to use an image.</li>
  </ul>

  <h2 style="text-align:left;">2) User Bio</h2>
  <ul style="text-align:left;">
	<li>Your bio provides an opportunity to share a brief description about yourself. Feel free to express your interests, hobbies, or professional background.</li>
	<li>Avoid including personal information that could compromise your privacy or the privacy of others (e.g., full address, phone number).</li>
	<li>Refrain from sharing or promoting illegal activities, hate speech, discriminatory views, or offensive content in your bio.</li>
  </ul>

  <h2 style="text-align:left;">3) Respecting Diversity</h2>
  <ul style="text-align:left;">
	<li>Treat all members of the community with respect and kindness, regardless of their race, ethnicity, gender, sexual orientation, religion, or other characteristics.</li>
	<li>Avoid making derogatory or offensive remarks based on someone's personal attributes.</li>
	<li>Foster an inclusive environment by engaging in constructive discussions and celebrating the diversity of opinions and backgrounds.</li>
	<li>If you encounter any behavior that violates these principles, report it to the moderation team for appropriate action.</li>
  </ul>
{% endblock %}